.table-responsive {
  overflow-x: auto;
}
table {
  min-width: 400px;
  min-height: 315px;
  @media screen and (max-width: 868px) {
    min-height: 367px;
  }
}

table img {
  height: 35px;
  object-fit: contain;
}

table .title span {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}